{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
    Lol
    [[ 4*4 ]]

    <div ng-controller="SearchController">
        <label for="name">Name : </label>
        <input id="name" type="text" ng-model="search.keyword" ng-disabled="search.id">
        <label for="singleSelect"> Single select: </label><br>
        <label for="type">Type : </label>
        <select id="type" name="select" ng-model="search.sortedBy">
            <option value="articles">Articles</option>
            <option value="products">Products</option>
        </select><br>
        <label for="id">id : </label>
        <input id="id" type="number" ng-disabled="search.keyword" placeholder="id article " ng-model="search.id">

        <pre>[[user | json]]</pre>
        <input type="submit" ng-click="searchByKeyword()" value="search">
        <pre>
           [[ search | json ]]
        </pre>

        <pre>
            HERE DISPLAY DATA - dont forget to select Article lol
            [[ data.articles | json]]
        </pre>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        //avoid conflict twig with angularJS syntax
        angular.module('app', [])
                .config(['$interpolateProvider', function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('[[');
                    $interpolateProvider.endSymbol(']]');
                }])


                .controller('SearchController', ['$scope', '$http', function ($scope, $http) {
                    $scope.search = {
                        keyword: "",
                        sortedBy: "",
                    };

                    $scope.data = {
                        articles: [],
                        products: [],
                    };



                    $scope.searchByKeyword = function() {
                        console.log($scope.search);
                        console.log($scope.search.keyword);


                        if($scope.search.sortedBy){


                            /* Articles */
                            if($scope.search.sortedBy === "articles"){

                                //get all articles

                                if($scope.search.keyword === ""){
                                    //get articles by keyword (refer to name)
                                    console.log("Enter a keyword please");
                                }

                                if($scope.search.id !== ""){
                                    console.log("wait");
                                    $http.get(`http://localhost:8000/article/${$scope.search.id}`)
                                            .then(function(response) {
                                                console.log(response);
                                                $scope.data.articles = response.data;
                                            });
                                }

                            }


                            /* Products */
                            if($scope.sortedBy === "products"){

                            }
                        }


                    };

                }]);

    </script>
{% endblock %}