{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
    <div ng-controller="SearchController">
        <label for="type">Type : </label>
        <select id="type" name="select" ng-model="search.sortedBy" ng-change="changeType()">
            <option value="articles" selected="selected">Articles</option>
            <option value="products">Products</option>
        </select>

        <label for="name">Name : </label>
        <input id="name" type="text" ng-model="search.keyword" ng-disabled="search.id || !search.sortedBy"
               ng-change="changeType()">
        <br>
        <label for="id">id : </label>
        <input id="id" type="number" ng-disabled="search.keyword || !search.sortedBy" placeholder="id article "
               ng-model="search.id" ng-change="changeType()">

        <pre>[[user | json]]</pre>
        <pre>
           [[ search | json ]]
        </pre>

        <pre>
            [[ data.articles | json]]
        </pre>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        //avoid conflict twig with angularJS syntax
        angular.module('app', [])
                .config(['$interpolateProvider', function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('[[');
                    $interpolateProvider.endSymbol(']]');
                }])


                .controller('SearchController', ['$scope', '$http', function ($scope, $http) {
                    $scope.search = {};

                    $scope.data = {
                        articles: [],
                        products: [],
                    };


                    $scope.changeType = function () {
                        /* Articles */
                        if ($scope.search.sortedBy) {
                            if ($scope.search.sortedBy === "articles") {


                                if ($scope.search.id) {
                                    //sorted articles by id
                                    console.log("sorted by id");
                                    $http.get(`http://localhost:8000/article/${$scope.search.id}`)
                                            .then(function (response) {
                                                $scope.data.articles = response.data;
                                            });
                                } else if ($scope.search.keyword) {
                                    //sorted articles by keyword (name_article)
                                    console.log("sorted by keyword");
                                    $http.get(`http://localhost:8000/article/name/${$scope.search.keyword}`)
                                            .then(function (response) {
                                                console.log(response.data);
                                                $scope.data.articles = response.data;
                                            });
                                } else {
                                    //display all articles when type articles is selected default
                                    $http.get(`http://localhost:8000/articles`)
                                            .then(function (response) {
                                                $scope.data.articles = response.data;
                                            });
                                }


                            }
                            else if ($scope.search.sortedBy === "products") {
                                //get all products

                            }
                        }

                    };


                }]);

    </script>
{% endblock %}